@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.TodoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  margin: 25px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.TodoList-wrapper {
  width: 500px;
}

.TodoList > h1 {
  align-self: center;
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 3em;
  margin: 0;
  font-weight: 100;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.699);
}

.TodoList-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.TodoList-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.TodoList-exit {
  opacity: 1;
  transform: scale(1);
}

.TodoList-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}
