.Todo {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 0.9em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.233);
  width: 100%;
  box-sizing: border-box;
}

.Todo:hover {
  background-color: rgba(255, 255, 255, 0.308);
}

.Todo-hide {
  display: none;
}

.Todo-task {
  color: rgb(24, 24, 24);
  text-shadow: 0 1px 10px rgba(255, 255, 255, 0.699);
  background-color: transparent;
  border: none;
  width: 445px;
}

@media only screen and (max-width: 545px) {
  .Todo-task {
    width: 370px;
  }
}

@media only screen and (max-width: 470px) {
  .Todo-task {
    width: 310px;
  }
}

@media only screen and (max-width: 440px) {
  .Todo-task {
    width: 270px;
  }
}

.Todo button {
  background-color: transparent;
  border: none;
  font-weight: 800;
  font-size: 1em;
  color: white;
}

.Todo-completed {
  text-decoration: line-through;
}
